travel-thing-esb/src/main/app/travel-thing-esb.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:travel-thing-amadeus-web-services="http://www.mulesoft.org/schema/mule/travel-thing-amadeus-web-services" xmlns:tt-amadeus-web-services="http://www.mulesoft.org/schema/mule/tt-amadeus-web-services" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.6.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tt-amadeus-web-services http://www.mulesoft.org/schema/mule/tt-amadeus-web-services/current/mule-tt-amadeus-web-services.xsd
http://www.mulesoft.org/schema/mule/travel-thing-amadeus-web-services http://www.mulesoft.org/schema/mule/travel-thing-amadeus-web-services/current/mule-travel-thing-amadeus-web-services.xsd">
    <http:listener-config name="HTTP_Listener_8081" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <travel-thing-amadeus-web-services:config-type name="TravelThingAmadeusWebServices" doc:name="TravelThingAmadeusWebServices: Configuration type strategy"/>
    <flow name="travel-thing-esbFlow">
        <http:listener config-ref="HTTP_Listener_8081" path="/tt-esb" doc:name="HTTP"/>
        <logger level="INFO" doc:name="Logger"/>
        <json:json-to-object-transformer doc:name="JSON to Object"/>
        <travel-thing-amadeus-web-services:air-multi-availability config-ref="TravelThingAmadeusWebServices" doc:name="TravelThingAmadeusWebServices"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>
    </flow>
</mule>
